:root {
    --mono-font: 'JetBrains Mono', monospace;
    --heading-font: 'Bebas Neue', cursive;
    --bg: rgb(42, 190, 42);
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
}

body {
    position: relative;
}

small {
    font-family: var(--heading-font);
}

#credits {
    position: absolute;
    transform: rotate(-90deg);
    font-family: var(--mono-font);
    font-size: 0.9rem;
    top: 55px;
    right: -39px;
}

/* LAYOUT */

.flexbox-row {
    display: flex;
    flex-flow: row wrap;
}

.flexbox-column {
    display: flex;
    flex-flow: column wrap;
}

.column-half {
    width: 50%;
}

@media (max-width: 900px) {
    .flexbox-row {
        flex-flow: column wrap;
    }
    .column-half {
        width: 100%;
    }
}

.ajc {
    align-items: center;
    justify-content: center;
}

.jcse {
    justify-content: space-evenly;
}

.pad-30 {
    padding: 30px;
}

.mar-10 {
    margin: 10px;
}

canvas {
    width: 100%;
    height: 400px;
}

@media (max-width: 400px) {
    canvas {
        height: 200px;
    }
}

.mono-font {
    font-family: var(--mono-font);
}

h1 {
    font-family: var(--mono-font);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

.bold-font {
    font-family: var(--heading-font);
    font-size: 1.25rem;
}

.active-cases-container, .pandemic-status-container, .new-cases-today-container {
    font-size: 1.3rem;
}

@media (max-width: 900px) {
    .pandemic-status-container {
        flex-flow: column-reverse wrap;
        margin-top: 20px;
    }

    .pandemic-status-container::after {
        content: '&';
        font-family: var(--mono-font);
    }
}

#active-cases, #pandemic-status, #new-cases-today {
    font-size: 3rem;
    font-family: var(--mono-font);
    border-bottom: 2px dashed rgb(247, 56, 56);
}