*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(245, 245, 245);
    --background-dark-1: rgb(230, 230, 230);
    --background-dark-2: rgb(221, 221, 221);
    --background-dark-3: rgb(203, 203, 203);

    --primary: rgb(21, 231, 140);
    --primary-dark-1: rgb(18, 199, 120);
    --primary-dark-2: rgb(15, 168, 102);
    --primary-dark-3: rgb(12, 138, 83);

    --success: rgb(31, 217, 24);

    --error: rgb(255, 12, 32);
}

html, body {
    margin: 0;
}

.flexbox-column {
    display: flex;
    flex-flow: column wrap;
}

.flexbox-row {
    display: flex;
    flex-flow: row wrap;
}

