*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --monospace-font: 'JetBrains Mono', monospace;
    --default-font: 'Chakra Petch', sans-serif;
    --heading-font: 'Bebas Neue', cursive;
    --decorative-font: 'Major Mono Display', cursive;

    --background-light-4: rgb(255, 255, 255);
    --background-light-3: rgb(255, 255, 255);
    --background-light-2: rgb(250, 250, 250);
    --background-light-1: rgb(246, 246, 246);
    --background-color: rgb(243, 243, 243);
    --background-dark-1: rgb(219, 219, 219);
    --background-dark-2: rgb(181, 181, 181);
    --background-dark-3: rgb(162, 162, 162);

    --dark-background-light-2: rgb(1, 28, 88);
    --dark-background-light-1: rgb(4, 26, 67);
    --dark-background: rgb(0, 11, 34);
    --dark-background-dark-1: rgb(2, 9, 28);

    --font-color: rgb(0, 0, 0);
    --light-font-color: rgb(240, 240, 240);
    --muted-font: rgb(169, 169, 169);
    --light-muted-font: rgb(200, 200, 200);

    --primary-light-3: rgb(118, 167, 255);
    --primary-light-2: rgb(79, 142, 255);
    --primary-light-1: rgb(40, 116, 255);
    --primary: rgb(0, 94, 255);
    --primary-dark-1: rgb(7, 53, 140);
    --primary-dark-2: rgb(166, 110, 15);
    --primary-dark-3: rgb(105, 70, 9);

    --success: rgb(31, 217, 24);

    --error: rgb(255, 12, 32);
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-dark-2);
}

html, body {
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--default-font);
    color: var(--font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

a.a {
    border-bottom: 1px dotted var(--primary);
}

.icon-tabler {
    stroke: var(--muted-font);
}

.mono-font {
    font-family: var(--monospace-font);
}

/*
    layout styles
*/

.flexbox-row {
    display: flex;
    flex-flow: row wrap;
}

.flexbox-column {
    display: flex;
    flex-flow: column wrap;
}

.column-full {
    width: 100%;
}

.column-half {
    width: 50%;
}

.column-third {
    width: 33.3333%;
}

.column-twothird {
    width: 66.6666%;
}

@media (max-width: 900px) {
    .column-half, .column-full, .column-third, .column-twothird {
        width: 100%;
    }
}

.ajc {
    align-items: center;
    justify-content: center;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.aibl {
    align-items: baseline;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.jcfs {
    justify-content: flex-start;
}

.jcfe {
    justify-content: flex-end;
}

.align-right {
    text-align: right;
}

.center {
    margin: 0 auto;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

.pad-30 {
    padding: 30px;
}

.pad-40 {
    padding: 40px;
}

.pad-50 {
    padding: 50px;
}

.no-pad-50 {
    padding: 50px;
}

@media (max-width: 900px) {
    .no-pad-50 {
        padding: 10px;
    }
}

.mar-5 {
    margin: 5px;
}

.mar-10 {
    margin: 10px;
}

.mar-20 {
    margin: 20px;
}

.mar-30 {
    margin: 30px;
}

.mar-40 {
    margin: 40px;
}

.mar-50 {
    margin: 50px;
}

.space-lr {
    margin-left: 5px;
    margin-right: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mbt-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px
}

.mr-10 {
    margin-right: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-30 {
    margin-left: 30px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}


/*
    base components
*/

h1 {
    font-family: var(--monospace-font);
    font-size: 3rem;
    margin: 20px 0;
}

h1.big {
    font-size: 4rem;
}

@media (max-width: 500px) {
    h1.big {
        font-size: 3.5rem;
    }
}

h2.big {
    font-size: 3rem;
}

.decorative-heading {
    font-family: var(--decorative-font);
    text-transform: lowercase;
}

.table-container {
    max-width: 100vw;
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--light-font-color);
}

table td, table th {
    padding: 15px;
}

table thead {
    font-family: var(--decorative-font);
    text-transform: lowercase;
    font-size: 1.2rem;
}

table thead tr {
    border-bottom: 2px solid var(--light-font-color);
}

table td:nth-child(2n-1) {
    background-color: var(--dark-background-dark-1);
}

table td:nth-child(2n) {
    background-color: var(--dark-background);
}

tbody {
    font-family: var(--monospace-font);
    font-size: 1.2rem;
}

table tbody tr td {
    transition: background-color ease 0.25s;
}

table tbody tr:hover td {
    background-color: var(--dark-background-light-1);
}

.hidden {
    display: none;
}

/*
    frontpage styles
*/

#jumbotron {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    font-family: var(--monospace-font);
    font-size: 3rem;
    color: var(--primary);
    font-weight: 600;
}

@media (max-width: 1300px) {
    #jumbotron {
        font-size: 2.5rem;
    }
}

@media (max-width: 1050px) {
    #jumbotron {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    #jumbotron {
        font-size: 1.5rem;
    }
}

.rotate {
    transition: transform ease 0.5s;
}

@media (max-width: 620px) {
    .rotate {
        transform: rotate(90deg);
    }
}

#before, #after, #left-wrapper, #right-wrapper {
    color: var(--muted-font);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#before, #left-wrapper {
    align-items: flex-end;
    transition: top ease 0.25s, bottom ease 0.25s;
}

#before, #after {
    position: relative;
}

#left-wrapper, #right-wrapper {
    position: absolute;
}

.before-link, .after-link {
    transition: font-size ease 0.25s;
    position: relative;
}

#before span:not(.active), #after span:not(.active) {
    font-size: 1rem;
}

#before .active, #after .active {
    color: var(--font-color);
    z-index: 1;
}

.footer-bar {
    position: sticky;
    bottom: 0;
    padding: 15px 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .footer-bar {
        padding: 15px 50px;
    }
}
@media (max-width: 500px) {
    .footer-bar {
        padding: 15px 15px;
    }
    .footer-bar span {
        display: none;
    }
}

.logo {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
}

.header-bar {
    position: absolute;
    top: 0;
    padding: 25px 100px;
    width: 100%;
    z-index: 2;
}

.tippy-box[data-theme~='blue-gradient'] {
    background: linear-gradient(to right, rgb(30, 10, 200), rgb(5, 10, 150));
    border: 1px solid rgb(30, 10, 200);
}

.tippy-box[data-theme~='blue-gradient'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(30, 10, 200);
}
.tippy-box[data-theme~='blue-gradient'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(30, 10, 200);
}
.tippy-box[data-theme~='blue-gradient'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(30, 10, 200);
}
.tippy-box[data-theme~='blue-gradient'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(30, 10, 200);
}

@media (max-width: 500px) {
    .header-bar {
        padding: 15px 15px;
    }
}

.header-bar #header-text a {
    border-radius: 50px;
    background-color: var(--background-dark-2);
    padding: 8px 15px;
    margin-bottom: 10px;
}


/*
    about styles
*/

.about {
    margin-top: 50px;
    background-color: var(--dark-background);
    position: relative;
}

#matter-anim-1 {
    width: 50%;
    height: 100%;
    z-index: 5;
    position: absolute;
}

#bg-placeholder {
    position: absolute;
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 0;
}

.about .bio {
    border-top-left-radius: 22px;
    z-index: 1;
    box-shadow: 0 0 10px black;
}

@media (max-width: 600px) {
    .about .bio {
        box-shadow: none;
    }
}

.about .me {
    background-color: var(--background-color);
    border-bottom-right-radius: 22px;
    z-index: 1;
}

.bio-text {
    font-size: 1.5rem;
    font-family: var(--monospace-font);
    z-index: 1;
}

@media (max-width: 600px) {
    .bio-text {
        font-size: 1rem;
    }
}

.nametag {
    font-family: var(--decorative-font);
    text-transform: lowercase;
    font-weight: 600;
    font-size: 4rem;
}

@media (max-width: 1150px) {
    .nametag {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .nametag {
        font-size: 2rem;
    }
    .me {
        padding-top: 10px;
    }
    .about {
        margin-top: 20px;
    }
}

.timeline-container {
    border-left: 1px solid var(--muted-font);
}

.timeline-item {
    position: relative;
    padding-left: 0;
}

.timeline-item::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--background-dark-2);
    border-radius: 50%;
    position: absolute;
    left: -35px;
    top: 55px;
    transition: background-color ease 0.25s;
}

.last-timeline-item::after {
    content: '';
    width: 10px;
    height: 100%;
    background-color: var(--background-color);
    position: absolute;
    left: -35px;
    top: 65px;
}

.timeline-item:hover::before {
    background-color: var(--primary);
}

.timeline-item h2 {
    margin: 10px 0 0;
}

.timeline-item .timeline-year {
    font-family: var(--monospace-font);
    font-size: 1.1rem;
    color: var(--muted-font);
    margin-top: 10px;
}

.timeline-item .timeline-category, .timeline-item .timeline-comment {
    color: var(--muted-font);
    transition: color ease 0.25s;
}

.timeline-item:hover .timeline-category, .timeline-item:hover .timeline-comment {
    color: var(--font-color);
}




/*
    projects styles
*/
.page-2, .bio {
    background-color: var(--dark-background);
    color: var(--light-font-color);
}

@media (max-width: 650px) {
    .page-2 {
        padding: 0;
    }
    .page-2 #projects {
        font-size: 3rem;
    }
    .page-2 .project {
        flex-flow: column wrap;
    }
    .page-2 .project h2.big {
        font-size: 2rem;
    }
    .page-2 .project .project-content {
        margin-left: 0;
    }
}

.project {
    max-width: 600px;
    background-color: var(--dark-background-light-1);
    transition: background-color ease 0.25s;
    border-radius: 20px;
    flex-wrap: nowrap;
}

@media (max-width: 400px) {
    .project {
        margin: 10px;
        max-width: 320px;
    }
}

.project-container:hover .project {
    background-color: var(--dark-background-light-2);
}

.project .project-desc {
    margin: 10px 0;
}

.project-links .link {
    border-radius: 15px;
    background-color: var(--dark-background-dark-1);
    padding: 5px 10px;
    margin: 5px;
}

.project .flair svg {
    margin: 0 8px;
}

.project .project-content {
    margin-left: 20px;
    max-width: 100%;
}

.mjxgui-demo-button {
    cursor: pointer;
    user-select: none;
}

.mini-project {
    border: 2px solid var(--background-dark-2);
    border-radius: 30px;
    background-color: var(--background-dark-2);
    color: var(--font-color);
    max-width: 40%;
}

@media (max-width: 900px) {
    .mini-project {
        max-width: 90%;
    }
}

.mini-project .link {
    background-color: var(--background-dark-1);
}

.mini-project .link svg {
    stroke: rgb(122, 122, 122);
}